@tailwind base;
@tailwind components;
@tailwind utilities;


.body-bg {
    background-image: url('./assets/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }